h2   {
        font-family: 'Righteous', cursive;
        color: #8f8df7;
        text-align: left;
        font-size: 40px;
        margin: 10px 40px 10px;
     }
p    {
        font-family: 'Dosis', sans-serif;
        text-align: left;
        font-size: 20px;
        margin: 10px 50px 10px;
     }
img {
         display: block;
         margin-left: auto;
         margin-right: auto;
         max-width: 80%;
         height: auto;
    } 
